<h1>Dashboard</h1>

<div style="display: flex;">
  <mat-card class="hs-card">
    <h2>Items about to expire </h2>
    <app-items-about-to-expire></app-items-about-to-expire>
  </mat-card>


  <mat-card class="hs-card">
    <h2>Newly Added Products</h2>
    <app-recently-added-products></app-recently-added-products>
  </mat-card>

</div>

<div style="display: flex;">
  <mat-card class="hs-card">
    <h2>Quick Add / Remove </h2>
    <app-quick-add-remove></app-quick-add-remove>
  </mat-card>


  <mat-card class="hs-card">
    <h2>Your Households</h2>
    <app-your-households></app-your-households>

  </mat-card>

</div>


<div style="display: flex;">
  <mat-card class="hs-card">
    <h2>Products with highest calories</h2>

  </mat-card>


  <mat-card class="hs-card">
    <h2>Statistics</h2>

  </mat-card>

</div>
