<h2 style="text-align: center">Add Product</h2>

<form #addForm="ngForm" (ngSubmit)="addForm.form.valid && addProduct()">
  <p>
    <mat-form-field class="field-with-icon" [style.width.px]=300 appearance="outline">
      <mat-label>EAN Code</mat-label>
      <input
        disabled
        matInput
        [(ngModel)]="product.barcode"
        name="eanInput"
        type="text"
        required>
      <button id="open-scanner-btn" (click)="scanProduct()" mat-icon-button matSuffix>
        <mat-icon>camera_alt</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field [style.width.px]=300 appearance="outline">
      <mat-label>Name Product</mat-label>
      <input
              disabled
              matInput
             [(ngModel)]="product.name"
             name="nameInput"
             type="text"
             required>
    </mat-form-field>
    <mat-form-field [style.width.px]=300 appearance="outline">
      <mat-label>Amount</mat-label>
      <input
        id="amount"
        matInput
        [(ngModel)]="product.amount"
        name="amountInput"
        type="number"
        min="0"
        required>
    </mat-form-field>
    <mat-form-field [style.width.px]=300 appearance="outline">
      <mat-label>Expiration Date</mat-label>
      <input
        id="expiration-date"
        matInput
        [(ngModel)]="product.expirationDate"
        name="expirationDateInput"
        type="date"
        required>
    </mat-form-field>

    <mat-form-field [style.width.px]=300 appearance="outline">
      <mat-label>Save to location</mat-label>
      <mat-select id="location" [(value)]="selectedLocation">
        <mat-option *ngFor="let location of this.locationsHousehold" [value]="location" >{{location.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>




  <mat-dialog-actions style="justify-content: center">
    <button id="add-product-btn" [disabled]="!addForm.form.valid" mat-raised-button mat-dialog-close color="primary" type="submit">Save Product</button>
    <button (click)="closeDialog()" color="accent" mat-raised-button mat-dialog-close>Cancel
    </button>
  </mat-dialog-actions>

</form>
