<div class="ss-contain">

  <div class="h1">Forgot Password</div>
  <div class="ss-form">
    <p>Enter email address</p>
    <form [formGroup]="forgotPasswordForm" class="ss-input" name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input [style.width.px]=500 type="email" matInput formControlName="emailAddress" name="username"
               [(ngModel)]="form.username" required >
        <mat-error *ngIf="forgotPasswordForm.controls['emailAddress'].invalid">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <div class="ss-button-container">
        <button mat-button color="primary" class="ss-btn-blue">Send</button>
        <div style="margin: 10px" class="alert alert-danger" role="alert" *ngIf="error && message">{{ message }} </div>
        <div style="margin: 10px" class="alert alert-success" *ngIf="!error && message">{{ message }} </div>
      </div>

    </form>
  </div>
</div>
