.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 30em !important;
}

.mat-button{
  margin-left: 10px;
  width: 18em;
  border: 1px solid lightgray;
}

.forgot-signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-signup-item {
  margin: 0 2px;
}
