.header{
  width: 100%;
  background: url("src/assets/images/headerbg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  height: 100%;
  padding: 10px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.1);
}

.socials{
  position:absolute;
  top:0;
  right:0;
  padding: 10px;
}

.social-icons{
  width: 35px;
  padding-left: 5px
}

.login{
  position: absolute;
  right: 0;
  padding-right: 20px;
}

.ss-welcome{
  position: absolute;
  right: 0;
  padding-right: 20px;
  font-size: 16px ;
}

