<div class="header overlay">
  <div class="overlay">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Logo SSSS" class="logo" >
    </div>
    <div class="socials">
      <a href="#"><img src="assets/icons/facebook-icon.png" alt="facebook" class="social-icons"></a>
      <a href="#"><img src="assets/icons/insta-icon.png" alt="instagram" class="social-icons"></a>
      <a href="#"><img src="assets/icons/linked-icon.png" alt="linkedin" class="social-icons"></a>
      <a href="#"><img src="assets/icons/twitter-icon.png" alt="twitter" class="social-icons"></a>
    </div>
  </div>
</div>

  <mat-toolbar class="nav-menu">
    <div>
      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="/household">Households</button>
    </div>
    <div class="login">
      <button mat-button [matMenuTriggerFor]="menu">Login / Register</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Login</button>
        <button mat-menu-item>Register</button>
      </mat-menu>
    </div>
  </mat-toolbar>

