<div class="ss-contain">

    <div class="h1">Login</div>
    <div class="ss-form">
      <p *ngIf="!isLoggedIn">Login with your email address</p>
      <form class="ss-input"
            *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input [style.width.px]=500 type="email" matInput [formControl]="emailFormControl" name="username"
                 [(ngModel)]="form.username" required >
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input [style.width.px]=500 type="password" matInput name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel">
        </mat-form-field>
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>


        <div class="ss-button-container">
          <button mat-button color="primary" class="ss-btn-blue">Login</button>
          <div class="ss-forgot">
            <a href="#">Forgot password?</a>
          </div>
          <div style="margin: 10px" class="alert alert-danger" role="alert" *ngIf="isLoginFailed"> Login failed, please try again. {{ errorMessage }} </div>

        </div>
        <div class="ss-horizontal">
          <span style="margin-left: 10px">or</span>
        </div>

        <div>
          <a href="{{ googleURL }}" mat-button style="padding: 1rem;">
            <mat-icon style="width: 50px; height:30px"
                      svgIcon="google"></mat-icon> Login With Google
          </a>

          <a href="{{ facebookURL }}" mat-button style="padding: 1rem;">
            <mat-icon style="width: 50px; height:30px"
                      svgIcon="facebook"></mat-icon> Login With Facebook
          </a>
        </div>
        <div style="margin-top: 10px">
          <a href="{{ githubURL }}" mat-button style="padding: 1rem;">
            <mat-icon style="width: 50px; height:30px"
                      svgIcon="github"></mat-icon> Login With Github
          </a>
          <a href="{{ linkedinURL }}" mat-button style="padding: 1rem;">
            <mat-icon style="width: 50px; height:30px"
                      svgIcon="linkedin"></mat-icon> Login With LinkedIn
          </a>
        </div>

      </form>
      <div class="alert alert-success" *ngIf="isLoggedIn">Welcome {{currentUser.displayName}} <br>Logged in as {{ currentUser.roles }}.</div>
    </div>
</div>
