<div class="table-container">

  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort matSortActive="expirationDate"
         matSortDirection="asc" matSortDisableClear style="width: 100%;">


    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> Id</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let element" mat-cell> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="remove">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Remove Location</th>
      <td *matCellDef="let element" mat-cell>
        <!--        <mat-icon (click)="leaveHousehold(element)">remove_circle</mat-icon>-->
      </td>
    </ng-container>


    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr
      *matRowDef="let row; columns: displayedColumns;"
      class="clickable-row" mat-row></tr>
  </table>

  <mat-toolbar class="mat-elevation-z8">
    <!--    <button (click)="addNewLocation()" mat-raised-button color="primary">Add new Location</button>-->

    <mat-toolbar-row>
      <mat-paginator #paginator
                     [length]="locations.length"
                     [pageSizeOptions]="[5,10,25]"
                     [showFirstLastButtons]="true"
                     pageSize="10">
      </mat-paginator>
    </mat-toolbar-row>
  </mat-toolbar>


</div>
