<div class="ss-contain">

  <div class="h1">Change Password</div>
  <div class="ss-form">
    <form [formGroup]="changePasswordForm" class="ss-input" name="form" (ngSubmit)="onSubmit()" #f="ngForm">

      <mat-form-field *ngIf="!this.token" appearance="outline">
        <mat-label>Old password</mat-label>
        <input [style.width.px]=500 type="password" matInput formControlName="oldPassword" name="oldPassword" required >
        <mat-error *ngIf="changePasswordForm.controls['oldPassword'].invalid">
          Old password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>New password</mat-label>
        <input [style.width.px]=500 type="password" matInput formControlName="newPassword" name="newPassword" required >
        <mat-error *ngIf="changePasswordForm.controls['newPassword'].invalid">
          New password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm new password</mat-label>
        <input [style.width.px]=500 type="password" matInput formControlName="newPasswordConfirm" name="newPasswordConfirm" required >
        <mat-error *ngIf="changePasswordForm.controls['newPasswordConfirm'].invalid">
          Passwords did not match
        </mat-error>
      </mat-form-field>

      <div class="ss-button-container">
        <button mat-button color="primary" class="ss-btn-blue">Send</button>
        <div style="margin: 10px" class="alert alert-danger" role="alert" *ngIf="error && message">{{ message }} </div>
        <div style="margin: 10px" class="alert alert-success" *ngIf="!error && message">{{ message }} </div>
      </div>

    </form>
  </div>
</div>
