/* You can add global styles to this file, and also import other style files */

body, html {
  background: #34e89e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #0f3443, #34e89e);
  background: linear-gradient(to top, #0f3443, #34e89e);
  background-repeat: no-repeat;
  height: 100%
}

/*Fonts:*/
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(./assets/fonts/Montserrat-Bold.ttf) format("truetype");
}



