<div style="width:100%">
  <mat-card>
    <img alt="Signup Now" routerLink="/register" src="./assets/images/advertisement1.png" width="100%">
  </mat-card>
</div>


<div style="display: flex;">
  <mat-card class="hs-card">
    <h2>We contribute to SDG!</h2>
    <div style="text-align: center">
      <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen frameborder="0" height="315" src="https://www.youtube.com/embed/0XTBYMfZyrM"
              title="YouTube video player" width="560"></iframe>
    </div>
  </mat-card>


  <mat-card class="hs-card">
    <h2>About SuperSimple</h2>
    <p>This project started as a school assignment at the University of Applied Sciences in Amsterdam, Netherlands. It's
      founders are: Evan Plat, Joe Vrolijk and David Soff.
      The goals of this project is to avoid any spillage of food, and drinks. By creating a online tool that keeps track
      of all your groceries, you'll know exactly when you run out of products,
      when products or drinks hit the expiry date, or it can be handy to use it as a grocery list.
    </p>

    <div>
      <h4>Feature List:</h4>
      <ul>
        <li>Keep track of all products in all your households</li>
        <li>Add and remove items easily by our PWA Scanner you can use on every smarphone</li>
        <li>Check Expiry Dates of all your added Products</li>
        <li>Add Households, Locations of Cubboards, Fridges etc</li>
        <li>Use this as an app on your phone as a grocery list</li>
        <li>Use scanner while in the grocery store</li>
        <li>Invite your friends and family</li>
        <li>All Free!</li>
      </ul>

    </div>


    <p>This way we contribute to the SDG goals set out by the United Nations. You can read more at: <a
      href="https://sdgs.un.org/goals">SDGs @ United Nations</a></p>

  </mat-card>

</div>
