# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: CI with Gradle

on:
  pull_request:
    branches: [ main ]
    paths:
    - 'backend/**'
    - 'frontend/**'

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      working-directory: backend
    - name: Cache packages
      uses: actions/cache@v2
      with:
        path: |
          backend/.gradle/caches
          backend/.gradle/wrapper
          frontend/supersimplesupplysystem/node_modules
        key: ${{ runner.os }}-packages-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties', '**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-packages-
    - name: Install Google Chrome
      run: |
        chmod +x infra/install_chrome.sh
        infra/install_chrome.sh
    - name: Set image pusher secret
      run: echo "key" > key
      working-directory: backend
    - name: Set secrets.properties
      run: echo ${SECRETS_PROPERTIES} > src/main/resources/secrets.properties
      working-directory: backend
      env:
        SECRETS_PROPERTIES: ${{secrets.SECRETS_PROPERTIES}}
    - name: Use Node.js 
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - run: npm install forever -g
    - run: npm install
      working-directory: frontend/supersimplesupplysystem
    - run: forever start node_modules/@angular/cli/bin/ng serve
      working-directory: frontend/supersimplesupplysystem
    - name: Build with Gradle
      run: ./gradlew build
      working-directory: backend
    - run: forever stopall
      working-directory: frontend/supersimplesupplysystem
    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1
      if: always()
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        files: backend/build/test-results/**/*.xml
    - name: Cleanup Gradle Cache
      # Remove some files from the Gradle cache, so they aren't cached by GitHub Actions.
      # Restoring these files from a GitHub Actions cache might cause problems for future builds.
      run: |
        rm -f .gradle/caches/modules-2/modules-2.lock
        rm -f .gradle/caches/modules-2/gc.properties
      working-directory: backend
